{% extends 'base.html' %}

{% block content %}
<div class="row">
	<h2>Login</h2>
	<div class="form-group">
		<form class="col-sm-6" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-default" type="submit">Login</button>
		</form>
	</div>
	<div class="col-sm-6" id="intro-video">
		<div class="row">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/iHmLljk2t8M?autoplay=1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="row video-caption">
			<p class="text-center">Because we're the hawks</p>
		</div>
	</div>
</div>
{% endblock content %}