<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Colman-Egan Blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="shortcut icon" href="{% static 'images/llama_favicon.ico' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
	</head>
	<body>
		<nav class="navbar navbar-inverse">
		  	<div class="container-fluid">
			    <div class="navbar-header">
			    	{% if user.is_authenticated %}
				      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
				        </button>
			        {% endif %}
			        <a class="navbar-brand" href="/">Colman-Egan Blog</a>
			    </div>
			    {% if user.is_authenticated %}
				    <div class="collapse navbar-collapse" id="main-navbar">
						<a class="btn btn-default navbar-btn" href="{% url 'create' %}"><span class="glyphicon glyphicon-plus"></span> New Post</a>
					    <ul class="nav navbar-nav navbar-right">
					    	<li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi, {{ user.username }}</a></li>
						    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					    </ul>
				    </div>
			    {% endif %}
		  	</div>
		</nav>

		<main>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-9">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class="row">
				<p><small><span class="glyphicon glyphicon-copyright-mark"></span> We ain't got no copyright, lol.</small></p>
			</div>
		</footer>
	</body>
</html>