{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="col-sm-9">
	<div class="row">
		<div class="post">
			<h1>{{ post.title }} <small>by {{ post.author }}</small></h1>
			<div class="post-body">
				<p>{{ post.text|linebreaksbr }}</p>
				{% if post.image %}
					<img src="{{ post.image.url }}" alt="Image for post {{ post.title }}" class="img-rounded img-responsive post-image">
				{% endif %}
				{% if post.youtube_video %}
					<div class="youtube-video">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="{{ post.embed_link }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				{% endif %}
				{% if post.title == "Carter" %}
					<video controls loop width="240" id="carter-video">
						<source src="{% static 'videos/carter.mp4' %}" type="video/mp4">
					</video>
				{% endif %}
			</div>
			{% if post.published_date %}
			<div class="published-edited-dates">
				{% if post.edited_date %}
					<p>Edited on {{ post.edited_date|date:"F jS, Y" }}</p>
				{% else %}
					<p>Published on {{ post.published_date|date:"F jS, Y" }}</p>
				{% endif %}
				<p>{{ post.boops.count }} {% if post.boops.count == 1 %}boop{% else %}boops{% endif %}, {{ post.unboops.count }} {% if post.unboops.count == 1 %}unboop{% else %}unboops{% endif %}, and {{ comment_list|length }} {% if comment_list|length == 1 %}comment{% else %}comments{% endif %}</p>
			</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<!--Displays options for editing only if the author is the logged in user -->
			{% if user == post.author %}
				<div class="btn-group" id="edit-delete-buttons">
					<a class="btn btn-default" href="{% url 'edit' slug=post.slug %}"><span class="glyphicon glyphicon-edit"></span> Edit Post</a>
					<a class="btn btn-default" href="{% url 'delete' slug=post.slug %}"><span class="glyphicon glyphicon-remove"></span> Delete Post</a>
				</div>
			{% endif %}
		</div>
		<div class="col-sm-6">
			<div class="btn-group" id="boop-unboop-buttons">
				<!--Like button-->
				<a href="{% url 'boop_unboop_toggle' slug=post.slug opinion='boop'%}" class="btn {% if booped_by_user %}pressed{% else %}btn-default{% endif %}"><span class="glyphicon glyphicon-thumbs-up"></span> {{ post.boops.count }}</a>
				<!--Unboop button-->
				<a href="{% url 'boop_unboop_toggle' slug=post.slug opinion='unboop' %}" class="btn {% if unbooped_by_user %}pressed{% else %}btn-default{% endif %}"><span class="glyphicon glyphicon-thumbs-down"></span> {{ post.unboops.count }}</a>
			</div>
		</div>
	</div>
	<hr>
	<!--New Comment Form-->
	<div class="combined-comment-section">
		<h3>Comments</h3>
		<p><strong>{{ user }}</strong></p>
		<div class="row">
			<div class="form-group">
				<form method="POST">
					<div class="col-sm-10">
						{% csrf_token %}
						{{ create_comment_form.text.errors }}
						{{ create_comment_form.text }}
					</div>
					<button type="submit" class="btn btn-default col-sm-2" value="Post Comment">Comment</button>
				</form>
			</div>
		</div>
		<br>
		<!--Comment Section-->
		<div class="comment-section">
			{% if comment_list %}
				{% for comment in comment_list %}
					<div class="row">
						<p><strong>{{ comment.author }}
						{% if comment.edited %}
							(Edited)
						{% endif %}
						</strong> <small>{{ comment.time_since_post }}</small></p>
						<div class="col-sm-10">
							<p>{{ comment.text }}</p>
						</div>
						<div class="col-sm-2">
							{% if comment.author == user %}
								<a href="{% url 'edit_comment' slug=post.slug pk=comment.pk %}" class="btn btn-default">Edit Comment</a>
							{% endif %}
						</div>
						<br><br>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<!--Displays newer and older post buttons-->
	<hr>
	<div class="row">
		<ul class="pager">
			{% if older_post %}
				<li class="previous"><a href="{% url 'detail' slug=older_post.slug %}">Previous Post: {{ older_post }}</a></li>
			{% else %}
				<li class="previous disabled"><a href="#">No Older Posts</a></li>
			{% endif %}
			{% if newer_post %}
				<li class="next"><a href="{% url 'detail' slug=newer_post.slug %}">Next Post: {{ newer_post }}</a></li>
			{% else %}
				<li class="next disabled"><a href="#">No Newer Posts</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}