{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div class="col-sm-9">
	{% for post in posts %}
		<div class="row">
			<div class="post">
				<!--Displays title of post, author, and 'new' label if it was publushed or edited within a day-->
				<h1><a href="{% url 'detail' slug=post.slug %}">{{ post.title }}</a> <small>by {{ post.author }} </small>
				{% if post.was_published_or_edited_recently %}
					<span class="label label-default">New</span>
				{% endif %}
				</h1>
				<!--Displays post text and date of editing or publication-->
				<div class="post-body">
					<p>{{ post.text|linebreaksbr }}</p>
					{% if post.image %}
						<img src="{{ post.image.url }}" alt="Image for post {{ post.title }}" class="img-rounded img-responsive post-image">
					{% endif %}
					{% if post.youtube_video %}
					<div class="youtube-video">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" width="560" height="315" src="{{ post.embed_link }}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					{% endif %}
				</div>
				<div class="published-edited-dates">
					{% if post.edited_date %}
						<p>Edited on {{ post.edited_date|date:"F jS, Y" }}</p>
					{% else %}
						<p>Published on {{ post.published_date|date:"F jS, Y" }}</p>
					{% endif %}
					<p>{{ post.boops.count }} {% if post.boops.count == 1 %}boop{% else %}boops{% endif %}, {{ post.unboops.count }} {% if post.unboops.count == 1 %}unboop{% else %}unboops{% endif %}, and {{ post.comment_count }} {% if post.comment_count == 1 %}comment{% else %}comments{% endif %}</p>
				</div>
				{% if forloop.counter != posts|length %}
					<hr>
				{% endif %}
			</div>
		</div>
	{% endfor %}
	<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</div>
<!--The Leaderboard-->
<div class="col-sm-3">
	<div id="leaderboard">
		<h1><span title="Users get 2 points for each boop and 1 point for each post">Leaderboard</span></h1>
		<ol>
		{% for score in leaderboard %}
			<li>{{ score.user }} with a score of {{ score.score }}</li>
		{% endfor %}
		</ol>
	</div>
</div>
{% endblock %}